.product-list-section {
  padding: 10px;
  padding-left: 30px;
}
.product-list-header {
  justify-content: space-between;
}
.product-list-header h2 {
  font-size: 26px;
}
.product-sorting {
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  padding: 0 5px;
  height: 35px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.product-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}
