.quantity-input-button {
  width: 35px !important;
  height: 35px !important;
  background-color: #ff8848;
  font-size: 24px;
  border-radius: 100%;
  color: white;
  border: none;
  cursor: pointer;
}
.quantity-input-button:disabled {
  opacity: 0.2;
  cursor: default;
}
.quantity-input-count {
  text-align: center;
  margin: 0 40px;
}
